<div class="sidebar-content">

    <!-- Bubble -->
    <div class="bubbles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="logo">
        <img src="assets/images/logo.png" alt="Hineni Laundry">
    </div>

    <ul class="menu top-menu">

        <li>
            <a href="dashboard.html" class="active">
                <i class="fas fa-house"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="transaksi.html">
                <i class="fas fa-clipboard-check"></i>
                <span>Transaksi Laundry</span>
            </a>
        </li>

        <li>
            <a href="pelanggan.html">
                <i class="fas fa-user"></i>
                <span>Data Pelanggan</span>
            </a>
        </li>

        <li>
            <a href="stok.html">
                <i class="fas fa-box"></i>
                <span>Manajemen Inventori</span>
            </a>
        </li>

        <li>
            <a href="laporan.html">
                <i class="fas fa-file-invoice-dollar"></i>
                <span>Laporan Keuangan</span>
            </a>
        </li>

    </ul>

    <div class="menu-divider"></div>

    <ul class="menu bottom-menu">

        <li>
            <a href="../index.html" class="logout">
                <i class="fas fa-right-from-bracket"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>

</div>